@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body{
    padding: 0;
    margin: 0;
    background-color: rgba(184, 241, 241, 0.822);
    font-family: "Rubik", sans-serif;
    color: rgb(40, 41, 40);
}

.container{
    margin: 10% auto;
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    width: 556px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
}

.container p{
    font-weight: bold;
}

.container p span{
    color: rgb(238, 62, 62);
}

.container table{
    margin: 30px;
    text-align: start;
}

.container table td{
    padding-left: 9px;
}

.container button{
    height: 25px;
    background-color: rgb(221, 248, 170);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    width: 90px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.container button:hover{
    background-color: rgba(187, 236, 154, 0.829);
}

.container button[type=submit]{
    background-color: rgb(245, 123, 123);
}

.container button[type=submit]:hover{
    background-color: rgba(245, 123, 123, 0.829);
}