@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body{
    padding: 0;
    margin: 0;
    background-color: rgba(184, 241, 241, 0.822);
    font-family: "Rubik", sans-serif;
    color: rgb(40, 41, 40);
}

.container{
    margin: 10% auto;
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
}

.container a{
    margin: 10px;
    border-radius: 5px;
    height: 20px;
    background-color: rgb(221, 248, 170);
    text-decoration: none;
    width: 140px;
    color: rgb(40, 41, 40);
    font-size: 0.9rem;
    font-weight: 500;
}

.container a:hover{
    background-color: rgba(187, 236, 154, 0.829);
}

.container a:visited{
    color: rgb(40, 41, 40);
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    margin: 20px;
    border: none;
    border-radius: 5px;
    height: 20px;
}

form input[type=submit]{
    height: 25px;
    background-color: rgb(221, 248, 170);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    width: 90px;
}

form input[type=submit]:hover{
    background-color: rgba(187, 236, 154, 0.829);
}

